*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  font-size:62.5%;

  --color-white:#fff;
  --color-white-transparency:rgba(255, 255, 255, 0.2);
  --color-base-green-700:#387E96;
  --color-base-grey-900:#202024;
  --color-base-grey-600:#121214;
  
}
body, 
.input-wrapper{
  font-size: 1.6rem;
  font-family: 'Mulish', sans-serif;
}

#app{
  display:grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;

}


header{
  display:flex;
  background-color:var(--color-base-green-700);
  gap:1.6rem
}
.vector {
  background-color: #fff;
  border-radius: 50%;
  padding: 0.8rem;
  
}

header form + img{
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
}
header form{
  flex:1;
}
.input-wrapper label{
  width: 1px;
  height: 1px;
  position: absolute;
  overflow: hidden;
}

.input-wrapper input{
  width:100%;
  padding:1rem 1rem;
  background-color: var(--color-white-transparency);
  border:none;
  border-radius: .4rem;
  margin:0 auto;

  font-size: 1.6rem;
  line-height: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
  font-family: 'Mulish', sans-serif;
}

.input-wrapper input::placeholder{
  color:var(--color-white);
}

h1{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8;
  color:var(--color-base-grey-900);
}
p{
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: var(--color-base-grey-600)
}
.container, .container-internal{
  padding:1.2rem 12rem;

}
.container-internal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:3.4rem;
}

.container-internal > *{
  
  margin:3.4rem 0 3rem;
}
.gallery h2{
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.8rem;
}
.full{
  width:100%;
  aspect-ratio: 16/9;
  object-fit:contain ;
}
.title{
  display: flex;
  justify-content: space-between;
  margin-block: 3.2rem;
  flex-direction: row;
}
.img img{
  background-color:var(--color-base-green-700);
  padding: 1.2rem;
  border-radius: 50%;
  margin-left:1.2rem
}



/* gallery */
.gallery{
  display:flex;
  flex-direction: column;
  gap:3.2rem;
  justify-content:
}

.item{
  display: flex;
 
  gap:1.6rem;
  
}

.item img{
  width:15rem;
  height: 8.4rem;
  object-fit: contain;
}
.details h3{
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.tags p{
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.2rem;
}

footer{
  background-color:var(--color-base-green-700);
}
footer p{
  text-align: center;
  background-color:var(--color-base-green-700);
  font-size: 1.6rem;
  line-height: 1rem;
  font-weight: 600;
  color: #fff;
  padding: 1.6rem;
}

/*Media queries */
@media(max-width:953px){
  .container-internal{
    display:flex;
    gap:0;
    flex-direction: column;
  }

  #app{
    width: 430px;
    margin:0 auto;
  }

  .container{
    padding: 1.2rem 2.8rem;
  }

  .container-internal{
    padding: 1.2rem 2.8rem;
  }
  .full{
    width:100%;
    object-fit:calc( + 1.2rem) ;
  }
  .title{
    flex-direction: column;
    gap:0.8rem;
  }

  .item img{
    width:15rem;
    height: 9rem;
    object-fit: contain;
  }
  .item{
    display: flex;
   
    gap:1.6rem;
    align-items: center;
  }
   
  
  footer p{
    padding: 1.6rem; 
    color:#fff
    
  }
  

}

